body {
                width: 100%;
                height: 100vh;
                font-family: Arial, Helvetica, sans-serif;
                display: flex;
                justify-content: center;
            }

            form {
                
                border: 3px solid #f1f1f1;
                text-align: center;
                margin: auto;
                width: 300px;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 10px;
            }
            
            input[type=email], input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
                align-items: center;
            }
            button {
                background-color: black;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                width: 100%;
                align-content: center;
            }
            a{
                color: black;
            }
            #mailError, #passError{
                color: #d36262;
                font-size: 12px;
            }