.sidebar {
    float: left;
    width: 20%;
    height: 100vh;
    background-color: black;
    color: white;
    display: block;
    position: sticky;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}



.sidebar a{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.Aclogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
}